* {
   
    box-sizing: border-box;
}
@font-face{
    font-family: "RDRLino";
    src: url(../fonts/RDRLino-Regular.woff2) format("woff2");
}

body{
    font-family: "RDRLino";
    background-color: black;
}
.application{
    max-width: 1000px;
    margin: auto;
    min-width: 388px;
}
header {
    position: relative;
    background-color: rgba(236, 9, 9, 0.897);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 150%;
    letter-spacing: 2px;
    text-transform: uppercase; 
    margin-top: 50px;
}

.arthur{
    position: relative;
    text-transform: uppercase;  
    background-color: rgb(233, 229, 229);
    height: 350px;
    font-size: 150%;
    background-image: url(../images/arthur.jpg);
    background-size: cover;
    background-position-y: 42%;
    background-position-x: 50%;
    
}
.arthur h2{
    position: absolute;
    bottom: -2px;
    left: 35px;
    color: white;
}

.section-header{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 150%;    
    padding: 20px;
    color: white;
}

.stats{
 
    font-size: 0;
}
.stat{
    position: relative;
    width: calc(25% - 20px * 3 / 4);
    display: inline-block;
    background-color: rgb(95, 91, 91);
    text-align: center;
    padding: 20px;
    margin-right: 20px;  
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: top;
    color: white;
}
@media screen and (max-width: 893px){
    .stat{
        width: calc(50% - 20px * 1 / 2);
        margin-bottom: 20px;
    }
    .stat:nth-child(2n) {
        margin-right: 0;
    }
    
}
@media screen and (max-width: 455px){
    .stat{
        width: 100%; 
        margin-right: 0; 
    } 
        
}

.stat:last-child{
    margin-right: 0;
}

.stat .number{
    font-size: 28px;
    display: block;
    margin-top: 8px;
}

.stat h3{
    margin: 0;
}
.stat .of{
    font-size: 80%;
    margin-left: 5px;
    margin-right: 3px;  
}

.extras{
    font-size: 0;
    top: 20px;
}

.gangs{
    position: relative;
    display: inline-block;
    width: calc(50% - 20px * 1 / 2);
    background-color: rgb(95, 91, 91);
    text-align: center;
    padding: 20px;
    margin-right: 20px;  
    font-size: 16px;
    vertical-align: top;
    margin-top:20px;
    margin-bottom: 50px;
    color: white;
}
.gangs:last-child{
    margin-right: 0;
}